name: Deploy

on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_UNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }} 

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_HUB_UNAME }}/wm-dc-app:latest
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_UNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd warmerise-bot
            sudo docker login -u ${{ secrets.DOCKER_HUB_UNAME }} -p ${{ secrets.DOCKER_HUB_TOKEN }}
            sudo docker-compose pull
            sudo docker-compose down
            sudo docker-compose up -d
